<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/leech.css" />
    <script src="/static/js/leech.js">
    </script>
</head>

<body>

{#<canvas id="kline" width="1240" height="440" style="border:1px solid #000000;">#}
{#    Your browser does not support the canvas element.#}
{#</canvas>#}
{#<canvas id="turnoff" width="1240" height="440" style="border:1px solid #000000;">#}
{#    Your browser does not support the canvas element.#}
{#</canvas>#}
<canvas id="exclude" width="1240" height="440" style="border:1px solid #000000;">
    Your browser does not support the canvas element.
</canvas>
<canvas id="part" width="1240" height="440" style="border:1px solid #000000;">
    Your browser does not support the canvas element.
</canvas>
<canvas id="pen" width="1240" height="440" style="border:1px solid #000000;">
    Your browser does not support the canvas element.
</canvas>


<script>
    var HIGH = 0;
    var LOW = 1;
    var CLOSED = 2;
    var DT = 3;
    var INCLUDE = 4;
    var TURNOFF = 5;
    var PART = 6;
    var ENLARGE = 1;

{#    var line = {{ kline|safe }};#}
    var exclude = {{ exclude|safe }};
{#    var turnoff = {{ turnoff|safe }};#}
    var part = {{ part|safe }};
    var pen = {{ pen|safe }};
    var seg = {{ seg|safe }};
    var ma5 = {{ ma5|safe }};
    var ma10 = {{ ma10|safe }};

    var low = 0;
    var base = 0;

{#    var canvas_kline = document.getElementById("kline");#}
{#    var ctx_kline = canvas_kline.getContext("2d");#}
{#    #}
{#    var canvas_turnoff = document.getElementById("turnoff");#}
{#    var ctx_turnoff = canvas_turnoff.getContext("2d");#}

    var canvas_exclude = document.getElementById("exclude");
    var ctx_exclude = canvas_exclude.getContext("2d");

    var canvas_part = document.getElementById("part");
    var ctx_part = canvas_part.getContext("2d");

    var canvas_pen = document.getElementById("pen");
    var ctx_pen = canvas_pen.getContext("2d");


    low = {{ min|safe }};
    base = {{ base|safe }};
{#    for (var i in line)#}
{#    {#}
{#        DrawLine(base, ENLARGE*i, line[i][LOW]-low, line[i][HIGH]-low, ctx_kline, "normal", "ignore", false);#}
{#    }#}
{##}
{#    for (var i in turnoff)#}
{#    {#}
{#        DrawLine(base, ENLARGE*i, turnoff[i][LOW]-low, turnoff[i][HIGH]-low, ctx_turnoff,#}
{#        turnoff[i][INCLUDE], turnoff[i][TURNOFF], false);#}
{#    }#}

    for (var i in exclude)
    {
        DrawLine(base, ENLARGE*i, exclude[i][LOW]-low, exclude[i][HIGH]-low, ctx_exclude,
        exclude[i][INCLUDE], exclude[i][TURNOFF], false);
    }


    for (var i in part)
    {
        DrawLine(base, ENLARGE*i, part[i][LOW]-low, part[i][HIGH]-low, ctx_part, part[i][INCLUDE], part[i][PART], false);
    }

    DrawPen(base, low, pen, "black",ctx_pen);
    DrawPen(base, low, seg, "blue", ctx_pen);

    DrawMA(base, low, ma5, "red", ctx_pen);
    DrawMA(base, low, ma10, "green", ctx_pen);

</script>

{#{{src|safe}}#}
{#<script>#}
{#    alert({{b}})#}
{#</script>#}

</body>

</html>
